
body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
 

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3bc492;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


li {
    padding: .25em;
    font-size: 20px;
}

h2 {
    padding: .5em 0 1.5em 0;
}

hr{

    height: 1.25px;
    border:none;
    overflow: hidden;
    border-top: 1px solid #D3D3D3;
    background-color: #fff;
    margin: 10px 0; 

    clear: both;

}

ul {
    margin-bottom: 0;

}

.btn {
   margin: 0 0 50px 0;
}

s
/* ==========================================================================
   title bar
   ========================================================================== */



.countdown {
    line-height: 1.2em;
    margin: .5em auto;
    padding: 35px 10px;
    max-width: 800px;
    text-align: center;
    background-color: rgba(211,17,69,0.35);
    font-size: 2em;
    font-weight: 800;
}

.example--1 .countdown {
    background: #f7f7f7;
    line-height: 1.4;
    padding: 10px 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

.jumbotron {
    padding-top: 15px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 15px;
    color: #f8f8f8;
    background: url(../img/bg_2.png) no-repeat center center;
    background-size: cover;
}

.jumbotron h1 {
    color: #fff;
    font-size: 2em;
    
}

.jumbotron h3 {
    color: white;
    font-size: 30px;
}

.jumbotron h5 {
    color: white;
    font-weight: 700;
    text-align: left;
}

.jumbotron p {
    text-align: left;
    color: white
}


.img-responsive-jumbotron {
    margin: 0 auto;
    padding: 25px 0 25px 0;
}

.lightthumbnail {
    margin: 15px;
    width: 150px;
    height: 150px;
    border-radius: 1%;
    border : 1px solid #fff;

}

.services-section {
    background-color: #d7d7d7;
    margin: 25px 0;
    height: 30%;
    padding: 20px 0;
    width: 100%;
    z-index: 99;
}


.services-section h3 {
    font-weight: 700;
}
.footer {

    width: 100%;
	background-color: #2A2A2A;
	color: white;
    position: relative;
    padding: 50px 0;
	
}

.footer h1 {
	font-size: 2em;
	color: white;
}

.footer p {
	color: white;
	font-size: 18px;
}


.sponsor_logos {
    margin: 20px auto;
    display: block;
    text-align: center;
}


.sponsor_logos li {
    display: inline-block;
    margin: 2%;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
}

/* Copyright Wrap */

#c {
	background: #222222;
	padding-top: 15px;
	text-align: right;
}

#c p {
	color: white
}


.floor-plan-list {
    font-weight: 500;
}

.floor-plan-list li {
    font-weight: 300;
}

/*********************************************************************
Success Page
*********************************************************************/











